@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

.text{
    font-family: 'Roboto Slab', serif;
    font-size: 64px;
    max-width: 80%;
    margin: auto;
}

.root{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    
}

.img_container{
    display: flex;
    justify-content: center;
}

.img{
    width:500px;
    margin: auto;
}