@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

.root{
    display:flex;
    justify-content: center;
}

.image{
    max-height: 90vh;
    margin: auto;
}

.dimensions{
    font-size: 48px;
    font-family: 'Roboto Slab', serif;
    max-height: 8vh;
    
}


p{
    margin:0;
}